{{/*
@partial: Schema.org Author
@description: Generates JSON-LD structured data for blog post authors using schema.org Person type
@params:
  - page: The current page context (required)
  - authorKey: Optional author key to override the one from page params
@example:
  {{ partial "schemaorg/author.html" . }}
  {{ partial "schemaorg/author.html" (dict "page" . "authorKey" "vzeman") }}
@note: Requires authors.yaml data file with author information
*/}}

{{ $authorKey := .Params.author }}
{{ if $authorKey }}
    {{ $authors := site.Data.authors }}
    {{ if and $authors (index $authors $authorKey) }}
        {{ $author := index $authors $authorKey }}
        {{ $authorName := $author.name }}

        {{ if $authorName }}
            {{- $worksFor := dict "@type" "Organization" "name" .Site.Title "url" .Site.BaseURL -}}
            {{- $schema := dict "@context" "https://schema.org" "@type" "Person" "name" $authorName "url" .Site.BaseURL "worksFor" $worksFor -}}
            {{- with $author.image }}{{ $schema = merge $schema (dict "image" .) }}{{ end -}}
            {{- with $author.role }}{{ $schema = merge $schema (dict "jobTitle" .) }}{{ end -}}
            {{- with $author.description }}{{ $schema = merge $schema (dict "description" .) }}{{ end -}}
            <script type="application/ld+json">
            {{- $schema | jsonify | safeJS -}}
            </script>
        {{ end }}
    {{ end }}
{{ end }}