{{- if .items -}}
{{- $items := .items -}}
{{- $listItems := slice -}}
{{- range $index, $item := $items -}}
  {{- $name := $item.title | default $item.name | default "" -}}
  {{- if $name -}}
    {{- $listItem := dict "@type" "ListItem" "position" (add $index 1) "name" $name "item" ($item.url | absURL) -}}
    {{- $listItems = $listItems | append $listItem -}}
  {{- end -}}
{{- end -}}
{{- $schema := dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $listItems -}}
<!-- Schema.org BreadcrumbList -->
<script type="application/ld+json">
{{- $schema | jsonify | safeJS -}}
</script>
{{- end -}}