{{/*
@partial: Schema.org ItemList
@description: Generates JSON-LD structured data for lists (features, integrations, pricing tiers, etc.)
@params:
  - name: List name (optional)
  - description: List description (optional)
  - items: Array of item objects (required)
    - name: Item name
    - url: Item URL (optional)
    - description: Item description (optional)
    - image: Item image (optional)
  - itemListOrder: "Ascending", "Descending", "Unordered" (optional)
@example:
  Feature list:
    {{ partial "schemaorg/itemlist.html" (dict
      "name" "Key Features"
      "items" $features
      "itemListOrder" "Unordered"
    ) }}

  Integration directory:
    {{ partial "schemaorg/itemlist.html" (dict
      "name" "Available Integrations"
      "items" $integrations
    ) }}
@note: Great for feature lists, integration directories, pricing comparisons
*/}}

{{ $site := .Site }}
{{ $items := .items }}

{{ if $items }}
{{- $listElements := slice -}}
{{- range $index, $item := $items -}}
  {{- $element := dict "@type" "ListItem" "position" (add $index 1) -}}
  {{- if $item.url -}}
    {{- $thing := dict "@type" "Thing" "name" $item.name "url" $item.url -}}
    {{- with $item.description }}{{ $thing = merge $thing (dict "description" .) }}{{ end -}}
    {{- with $item.image }}{{ $thing = merge $thing (dict "image" (printf "%s%s" $site.BaseURL (strings.TrimPrefix "/" .))) }}{{ end -}}
    {{- $element = merge $element (dict "item" $thing) -}}
  {{- else -}}
    {{- $element = merge $element (dict "name" $item.name) -}}
    {{- with $item.description }}{{ $element = merge $element (dict "description" .) }}{{ end -}}
  {{- end -}}
  {{- $listElements = $listElements | append $element -}}
{{- end -}}

{{- $schema := dict "@context" "https://schema.org" "@type" "ItemList" "itemListElement" $listElements -}}
{{- with .name }}{{ $schema = merge $schema (dict "name" .) }}{{ end -}}
{{- with .description }}{{ $schema = merge $schema (dict "description" .) }}{{ end -}}
{{- with .itemListOrder }}{{ $schema = merge $schema (dict "itemListOrder" (printf "https://schema.org/%sItemList" .)) }}{{ end -}}
{{- with .numberOfItems }}{{ $schema = merge $schema (dict "numberOfItems" .) }}{{ else }}{{ $schema = merge $schema (dict "numberOfItems" (len $items)) }}{{ end -}}
<script type="application/ld+json">
{{- $schema | jsonify | safeJS -}}
</script>
{{ end }}