{{/*
@partial: Schema.org Offer (standalone)
@description: Generates JSON-LD structured data for special offers, promotions, and deals
@params:
  - name: Offer name (required)
  - description: Offer description
  - price: Price (use "0" for free)
  - priceCurrency: Currency code (e.g., "USD", "EUR")
  - priceValidUntil: End date for the offer
  - availability: "InStock", "OutOfStock", "PreOrder", etc.
  - itemOffered: What's being offered (name, description)
  - eligibleRegion: Geographic restrictions
  - validFrom: Start date
@example:
  Free trial offer:
    {{ partial "schemaorg/offer.html" (dict
      "name" "14-Day Free Trial"
      "description" "Try our software free for 14 days"
      "price" "0"
      "priceCurrency" "USD"
      "itemOffered" (dict "name" "Post Affiliate Pro" "description" "Full access to all features")
    ) }}

  Discount promotion:
    {{ partial "schemaorg/offer.html" (dict
      "name" "50% Off Annual Plan"
      "price" "499"
      "priceCurrency" "USD"
      "priceValidUntil" "2026-12-31"
    ) }}
@note: Perfect for landing pages with special promotions
*/}}

{{ $site := .Site }}
{{ $name := .name }}

{{ if $name }}
{{- $seller := dict "@type" "Organization" "name" $site.Title "url" $site.BaseURL -}}
{{- $schema := dict "@context" "https://schema.org" "@type" "Offer" "name" $name "url" (.url | default $site.BaseURL) "seller" $seller -}}
{{- with .description }}{{ $schema = merge $schema (dict "description" .) }}{{ end -}}
{{- with .price }}{{ $schema = merge $schema (dict "price" .) }}{{ end -}}
{{- with .priceCurrency }}{{ $schema = merge $schema (dict "priceCurrency" .) }}{{ end -}}
{{- with .priceValidUntil }}{{ $schema = merge $schema (dict "priceValidUntil" .) }}{{ end -}}
{{- with .validFrom }}{{ $schema = merge $schema (dict "validFrom" .) }}{{ end -}}
{{- with .availability -}}
  {{- $schema = merge $schema (dict "availability" (printf "https://schema.org/%s" .)) -}}
{{- else -}}
  {{- $schema = merge $schema (dict "availability" "https://schema.org/InStock") -}}
{{- end -}}
{{- with .itemOffered -}}
  {{- $item := dict "@type" (.type | default "Product") "name" .name -}}
  {{- with .description }}{{ $item = merge $item (dict "description" .) }}{{ end -}}
  {{- with .image }}{{ $item = merge $item (dict "image" (printf "%s%s" $site.BaseURL (strings.TrimPrefix "/" .))) }}{{ end -}}
  {{- $schema = merge $schema (dict "itemOffered" $item) -}}
{{- end -}}
{{- with .eligibleRegion }}{{ $schema = merge $schema (dict "eligibleRegion" .) }}{{ end -}}
{{- with .eligibleCustomerType }}{{ $schema = merge $schema (dict "eligibleCustomerType" .) }}{{ end -}}
{{- with .priceSpecification -}}
  {{- $spec := dict "@type" "PriceSpecification" -}}
  {{- with .price }}{{ $spec = merge $spec (dict "price" .) }}{{ end -}}
  {{- with .priceCurrency }}{{ $spec = merge $spec (dict "priceCurrency" .) }}{{ end -}}
  {{- with .valueAddedTaxIncluded }}{{ $spec = merge $spec (dict "valueAddedTaxIncluded" .) }}{{ end -}}
  {{- $schema = merge $schema (dict "priceSpecification" $spec) -}}
{{- end -}}
{{- with .offeredBy -}}
  {{- $schema = merge $schema (dict "offeredBy" (dict "@type" "Organization" "name" .)) -}}
{{- end -}}
<script type="application/ld+json">
{{- $schema | jsonify | safeJS -}}
</script>
{{ end }}