{{/*
@partial: Schema.org Organization
@description: Generates JSON-LD structured data for company/organization identity
@params:
  - site: Site context (optional, defaults to current site)
@example:
  {{ partial "schemaorg/organization.html" . }}
@note: Requires site params configuration for complete organization data
  Config example in config.yaml:
    params:
      organization:
        name: "Company Name"
        legalName: "Company Legal Name Inc."
        description: "Company description"
        url: "https://example.com"
        logo: "/images/logo.png"
        email: "contact@example.com"
        telephone: "+1-555-555-5555"
        foundingDate: "2010-01-01"
        address:
          streetAddress: "123 Main St"
          addressLocality: "City"
          addressRegion: "State"
          postalCode: "12345"
          addressCountry: "US"
        sameAs:
          - "https://facebook.com/company"
          - "https://twitter.com/company"
          - "https://linkedin.com/company/company"
*/}}

{{ $site := .Site }}
{{ $org := $site.Params.organization }}

{{ if $org }}
{{- $mainEntity := dict "@type" "WebPage" "@id" $site.BaseURL -}}
{{- $schema := dict "@context" "https://schema.org" "@type" "Organization" "url" ($org.url | default $site.BaseURL) "mainEntityOfPage" $mainEntity -}}
{{- with $org.name }}{{ $schema = merge $schema (dict "name" .) }}{{ end -}}
{{- with $org.legalName }}{{ $schema = merge $schema (dict "legalName" .) }}{{ end -}}
{{- with $org.description }}{{ $schema = merge $schema (dict "description" .) }}{{ end -}}
{{- with $org.logo -}}
  {{- $logo := dict "@type" "ImageObject" "url" (printf "%s%s" $site.BaseURL (strings.TrimPrefix "/" .)) -}}
  {{- $schema = merge $schema (dict "logo" $logo) -}}
{{- end -}}
{{- with $org.email }}{{ $schema = merge $schema (dict "email" .) }}{{ end -}}
{{- with $org.telephone }}{{ $schema = merge $schema (dict "telephone" .) }}{{ end -}}
{{- with $org.foundingDate }}{{ $schema = merge $schema (dict "foundingDate" .) }}{{ end -}}
{{- with $org.address -}}
  {{- $addr := dict "@type" "PostalAddress" -}}
  {{- with .streetAddress }}{{ $addr = merge $addr (dict "streetAddress" .) }}{{ end -}}
  {{- with .addressLocality }}{{ $addr = merge $addr (dict "addressLocality" .) }}{{ end -}}
  {{- with .addressRegion }}{{ $addr = merge $addr (dict "addressRegion" .) }}{{ end -}}
  {{- with .postalCode }}{{ $addr = merge $addr (dict "postalCode" .) }}{{ end -}}
  {{- with .addressCountry }}{{ $addr = merge $addr (dict "addressCountry" .) }}{{ end -}}
  {{- $schema = merge $schema (dict "address" $addr) -}}
{{- end -}}
{{- with $org.sameAs }}{{ $schema = merge $schema (dict "sameAs" .) }}{{ end -}}
{{- with $org.contactPoint -}}
  {{- $cp := dict "@type" "ContactPoint" -}}
  {{- with .telephone }}{{ $cp = merge $cp (dict "telephone" .) }}{{ end -}}
  {{- with .contactType }}{{ $cp = merge $cp (dict "contactType" .) }}{{ end -}}
  {{- with .email }}{{ $cp = merge $cp (dict "email" .) }}{{ end -}}
  {{- with .availableLanguage }}{{ $cp = merge $cp (dict "availableLanguage" .) }}{{ end -}}
  {{- with .areaServed }}{{ $cp = merge $cp (dict "areaServed" .) }}{{ end -}}
  {{- $schema = merge $schema (dict "contactPoint" $cp) -}}
{{- end -}}
{{- with $org.numberOfEmployees }}{{ $schema = merge $schema (dict "numberOfEmployees" .) }}{{ end -}}
{{- with $org.vatID }}{{ $schema = merge $schema (dict "vatID" .) }}{{ end -}}
{{- with $org.taxID }}{{ $schema = merge $schema (dict "taxID" .) }}{{ end -}}
{{- with $org.duns }}{{ $schema = merge $schema (dict "duns" .) }}{{ end -}}
<script type="application/ld+json">
{{- $schema | jsonify | safeJS -}}
</script>
{{ end }}