{{/*
@partial: Schema.org Product/Offer
@description: Generates JSON-LD structured data for product offerings and pricing
@params:
  - products: Array of product objects (optional, for multiple products)
  - product: Single product object (optional, for single product)
  Product object structure:
    - name: Product name
    - description: Product description
    - image: Product image URL
    - sku: Product SKU
    - brand: Brand name
    - offers: Offer details (price, priceCurrency, availability, etc.)
    - aggregateRating: Rating data (optional)
@example:
  Single product:
    {{ partial "schemaorg/product.html" (dict "product" $product) }}

  Multiple products:
    {{ partial "schemaorg/product.html" (dict "products" $products) }}

  From page params:
    {{ partial "schemaorg/product.html" . }}
@note: Can handle both single Product and multiple Products
*/}}

{{ $site := .Site }}
{{ $page := . }}

{{/* Handle single product */}}
{{ $product := .product }}
{{ if $product }}
{{- $manufacturer := dict "@type" "Organization" "name" $site.Title -}}
{{- $schema := dict "@context" "https://schema.org" "@type" "Product" "name" $product.name "manufacturer" $manufacturer -}}
{{- with $product.description }}{{ $schema = merge $schema (dict "description" .) }}{{ end -}}
{{- with $product.image }}{{ $schema = merge $schema (dict "image" (printf "%s%s" $site.BaseURL (strings.TrimPrefix "/" .))) }}{{ end -}}
{{- with $product.sku }}{{ $schema = merge $schema (dict "sku" .) }}{{ end -}}
{{- with $product.mpn }}{{ $schema = merge $schema (dict "mpn" .) }}{{ end -}}
{{- with $product.brand -}}
  {{- $schema = merge $schema (dict "brand" (dict "@type" "Brand" "name" .)) -}}
{{- end -}}
{{- with $product.offers -}}
  {{- $seller := dict "@type" "Organization" "name" $site.Title -}}
  {{- $offer := dict "@type" "Offer" "url" ($product.url | default $site.BaseURL) "seller" $seller -}}
  {{- with .price }}{{ $offer = merge $offer (dict "price" .) }}{{ end -}}
  {{- with .priceCurrency }}{{ $offer = merge $offer (dict "priceCurrency" .) }}{{ end -}}
  {{- with .priceValidUntil }}{{ $offer = merge $offer (dict "priceValidUntil" .) }}{{ end -}}
  {{- with .availability }}{{ $offer = merge $offer (dict "availability" .) }}{{ else }}{{ $offer = merge $offer (dict "availability" "https://schema.org/InStock") }}{{ end -}}
  {{- with .itemCondition }}{{ $offer = merge $offer (dict "itemCondition" .) }}{{ else }}{{ $offer = merge $offer (dict "itemCondition" "https://schema.org/NewCondition") }}{{ end -}}
  {{- $schema = merge $schema (dict "offers" $offer) -}}
{{- end -}}
{{- with $product.aggregateRating -}}
  {{- $rating := dict "@type" "AggregateRating" -}}
  {{- with .ratingValue }}{{ $rating = merge $rating (dict "ratingValue" .) }}{{ end -}}
  {{- with .reviewCount }}{{ $rating = merge $rating (dict "reviewCount" .) }}{{ end -}}
  {{- with .bestRating }}{{ $rating = merge $rating (dict "bestRating" .) }}{{ end -}}
  {{- $schema = merge $schema (dict "aggregateRating" $rating) -}}
{{- end -}}
{{- with $product.review -}}
  {{- $reviews := slice -}}
  {{- range . -}}
    {{- $rev := dict "@type" "Review" -}}
    {{- with .author }}{{ $rev = merge $rev (dict "author" (dict "@type" "Person" "name" .)) }}{{ end -}}
    {{- with .reviewRating -}}
      {{- $rev = merge $rev (dict "reviewRating" (dict "@type" "Rating" "ratingValue" .ratingValue "bestRating" (.bestRating | default "5"))) -}}
    {{- end -}}
    {{- with .reviewBody }}{{ $rev = merge $rev (dict "reviewBody" .) }}{{ end -}}
    {{- $reviews = $reviews | append $rev -}}
  {{- end -}}
  {{- $schema = merge $schema (dict "review" $reviews) -}}
{{- end -}}
<script type="application/ld+json">
{{- $schema | jsonify | safeJS -}}
</script>
{{ end }}

{{/* Handle multiple products */}}
{{ $products := .products }}
{{ if $products }}
{{- $productArray := slice -}}
{{- range $products -}}
  {{- $manufacturer := dict "@type" "Organization" "name" $site.Title -}}
  {{- $prod := dict "@context" "https://schema.org" "@type" "Product" "name" .name "manufacturer" $manufacturer -}}
  {{- with .description }}{{ $prod = merge $prod (dict "description" .) }}{{ end -}}
  {{- with .image }}{{ $prod = merge $prod (dict "image" (printf "%s%s" $site.BaseURL (strings.TrimPrefix "/" .))) }}{{ end -}}
  {{- with .sku }}{{ $prod = merge $prod (dict "sku" .) }}{{ end -}}
  {{- with .brand -}}
    {{- $prod = merge $prod (dict "brand" (dict "@type" "Brand" "name" .)) -}}
  {{- end -}}
  {{- with .offers -}}
    {{- $seller := dict "@type" "Organization" "name" $site.Title -}}
    {{- $offer := dict "@type" "Offer" "url" ($prod.url | default $site.BaseURL) "seller" $seller -}}
    {{- with .price }}{{ $offer = merge $offer (dict "price" .) }}{{ end -}}
    {{- with .priceCurrency }}{{ $offer = merge $offer (dict "priceCurrency" .) }}{{ end -}}
    {{- with .priceValidUntil }}{{ $offer = merge $offer (dict "priceValidUntil" .) }}{{ end -}}
    {{- with .availability }}{{ $offer = merge $offer (dict "availability" .) }}{{ else }}{{ $offer = merge $offer (dict "availability" "https://schema.org/InStock") }}{{ end -}}
    {{- $prod = merge $prod (dict "offers" $offer) -}}
  {{- end -}}
  {{- with .aggregateRating -}}
    {{- $prod = merge $prod (dict "aggregateRating" (dict "@type" "AggregateRating" "ratingValue" .ratingValue "reviewCount" .reviewCount)) -}}
  {{- end -}}
  {{- $productArray = $productArray | append $prod -}}
{{- end -}}
<script type="application/ld+json">
{{- $productArray | jsonify | safeJS -}}
</script>
{{ end }}