{{/*
@partial: Schema.org QAPage
@description: Generates JSON-LD structured data for Question & Answer pages (different from FAQ)
@params:
  - page: Page context (optional)
  - question: The main question being asked
  - questionAuthor: Person who asked the question
  - answers: Array of answer objects
    - text: Answer text
    - author: Answer author name
    - upvoteCount: Number of upvotes (optional)
    - dateCreated: When answer was posted
    - isAccepted: Boolean for accepted answer
@example:
  {{ partial "schemaorg/qapage.html" (dict
      "question" "How do I integrate Post Affiliate Pro with my website?"
      "questionAuthor" "John Doe"
      "answers" (slice
        (dict "text" "You can integrate using our JavaScript tracking code..." "author" "Support Team" "isAccepted" true)
      )
    ) }}
@note: Use this for community Q&A, support forums, knowledge base articles
  Different from FAQPage - QAPage is for community-driven Q&A
*/}}

{{ $site := .Site }}

{{/* Handle both direct page context and dict with page key */}}
{{ $page := . }}
{{ if reflect.IsMap . }}
  {{ if isset . "page" }}
    {{ $page = .page }}
  {{ end }}
{{ end }}

{{ $question := $page.Title }}
{{ $answers := slice }}

{{ if reflect.IsMap . }}
  {{ $question = .question | default $page.Title }}
  {{ $answers = .answers }}
{{ end }}

{{ if and $question $answers }}
{{- $questionObj := dict "@type" "Question" "name" $question "url" ($page.Permalink | default $site.BaseURL) -}}
{{- with .questionText }}{{ $questionObj = merge $questionObj (dict "text" .) }}{{ end -}}
{{- with .questionAuthor }}{{ $questionObj = merge $questionObj (dict "author" (dict "@type" "Person" "name" .)) }}{{ end -}}
{{- with .dateCreated }}{{ $questionObj = merge $questionObj (dict "dateCreated" .) }}{{ end -}}
{{- with .upvoteCount }}{{ $questionObj = merge $questionObj (dict "upvoteCount" .) }}{{ end -}}
{{- with .answerCount }}{{ $questionObj = merge $questionObj (dict "answerCount" .) }}{{ else }}{{ $questionObj = merge $questionObj (dict "answerCount" (len $answers)) }}{{ end -}}

{{- $acceptedAnswer := false -}}
{{- $suggestedAnswers := slice -}}
{{- range $answers -}}
  {{- if .isAccepted -}}
    {{- $acceptedAnswer = . -}}
  {{- else -}}
    {{- $suggestedAnswers = $suggestedAnswers | append . -}}
  {{- end -}}
{{- end -}}

{{- if $acceptedAnswer -}}
  {{- $ans := dict "@type" "Answer" "text" $acceptedAnswer.text "url" ($page.Permalink | default $site.BaseURL) -}}
  {{- with $acceptedAnswer.author }}{{ $ans = merge $ans (dict "author" (dict "@type" "Person" "name" .)) }}{{ end -}}
  {{- with $acceptedAnswer.dateCreated }}{{ $ans = merge $ans (dict "dateCreated" .) }}{{ end -}}
  {{- with $acceptedAnswer.upvoteCount }}{{ $ans = merge $ans (dict "upvoteCount" .) }}{{ end -}}
  {{- $questionObj = merge $questionObj (dict "acceptedAnswer" $ans) -}}
{{- end -}}

{{- if $suggestedAnswers -}}
  {{- $suggested := slice -}}
  {{- range $suggestedAnswers -}}
    {{- $ans := dict "@type" "Answer" "text" .text "url" ($page.Permalink | default $site.BaseURL) -}}
    {{- with .author }}{{ $ans = merge $ans (dict "author" (dict "@type" "Person" "name" .)) }}{{ end -}}
    {{- with .dateCreated }}{{ $ans = merge $ans (dict "dateCreated" .) }}{{ end -}}
    {{- with .upvoteCount }}{{ $ans = merge $ans (dict "upvoteCount" .) }}{{ end -}}
    {{- $suggested = $suggested | append $ans -}}
  {{- end -}}
  {{- $questionObj = merge $questionObj (dict "suggestedAnswer" $suggested) -}}
{{- end -}}

{{- $schema := dict "@context" "https://schema.org" "@type" "QAPage" "mainEntity" $questionObj -}}
<script type="application/ld+json">
{{- $schema | jsonify | safeJS -}}
</script>
{{ end }}