{{/*
@partial: Schema.org Reviews
@description: Generates JSON-LD structured data for testimonials/reviews using schema.org Review type
@params:
  - testimonials: Array of testimonial objects (required)
    - quote: Testimonial text
    - personName: Name of the person giving testimonial
@example:
  {{ partial "schemaorg/reviews.html" (dict "testimonials" $testimonials) }}
@note: Generates Review structured data for better SEO optimization
*/}}

{{ if .testimonials }}
{{- $reviews := slice -}}
{{- range .testimonials -}}
  {{- $itemReviewed := dict "@type" "SoftwareApplication" "name" site.Title "url" site.BaseURL "applicationCategory" (site.Params.softwareCategory | default "Business Software") -}}
  {{- with site.Params.softwareDescription }}{{ $itemReviewed = merge $itemReviewed (dict "description" .) }}{{ end -}}
  {{- with site.Params.operatingSystem }}{{ $itemReviewed = merge $itemReviewed (dict "operatingSystem" .) }}{{ end -}}
  {{- with site.Params.softwareAudience }}{{ $itemReviewed = merge $itemReviewed (dict "audience" .) }}{{ end -}}
  {{- $author := dict "@type" "Person" "name" .personName -}}
  {{- $review := dict "@context" "https://schema.org" "@type" "Review" "reviewBody" .quote "author" $author "itemReviewed" $itemReviewed -}}
  {{- $reviews = $reviews | append $review -}}
{{- end -}}
<!-- Schema.org structured data for reviews -->
<script type="application/ld+json">
{{- $reviews | jsonify | safeJS -}}
</script>
{{ end }}