{{/*
@partial: Schema.org VideoObject
@description: Generates JSON-LD structured data for video content
@params:
  - name: Video title/name (required)
  - description: Video description (required)
  - thumbnailUrl: URL to video thumbnail image (required)
  - uploadDate: Upload date in ISO 8601 format (required)
  - contentUrl: Direct URL to video file (optional)
  - embedUrl: URL for embedding the video (optional)
  - width: Video width in pixels
  - height: Video height in pixels
  - transcriptUrl: URL to video transcript (optional)
  - interactionStatistic: View count data (optional)
@example:
  {{ partial "schemaorg/video.html" (dict
    "name" "How to Use Post Affiliate Pro"
    "description" "Tutorial video showing how to use our software"
    "thumbnailUrl" "/images/video-thumb.jpg"
    "uploadDate" "2025-01-15"
    "embedUrl" "https://youtube.com/embed/abc123"
  ) }}
@note: Helps videos appear in Google Video Search and rich results
*/}}

{{ $site := .Site }}
{{ $name := .name }}
{{ $description := .description }}
{{ $thumbnailUrl := .thumbnailUrl }}
{{ $uploadDate := .uploadDate }}

{{ if and $name $description $thumbnailUrl $uploadDate }}
{{- $publisher := dict "@type" "Organization" "name" $site.Title "url" $site.BaseURL -}}
{{- with $site.Params.organization.logo -}}
  {{- $logo := dict "@type" "ImageObject" "url" (printf "%s%s" $site.BaseURL (strings.TrimPrefix "/" .)) -}}
  {{- $publisher = merge $publisher (dict "logo" $logo) -}}
{{- end -}}

{{- $schema := dict "@context" "https://schema.org" "@type" "VideoObject" "name" $name "description" $description "thumbnailUrl" (printf "%s%s" $site.BaseURL (strings.TrimPrefix "/" $thumbnailUrl)) "uploadDate" $uploadDate "publisher" $publisher -}}
{{- with .contentUrl }}{{ $schema = merge $schema (dict "contentUrl" .) }}{{ end -}}
{{- with .embedUrl }}{{ $schema = merge $schema (dict "embedUrl" .) }}{{ end -}}
{{- if and .width .height }}{{ $schema = merge $schema (dict "width" .width "height" .height) }}{{ end -}}
{{- with .transcriptUrl }}{{ $schema = merge $schema (dict "transcript" .) }}{{ end -}}
{{- with .interactionStatistic -}}
  {{- $stat := dict "@type" "InteractionCounter" "interactionType" (dict "@type" "WatchAction") "userInteractionCount" . -}}
  {{- $schema = merge $schema (dict "interactionStatistic" $stat) -}}
{{- end -}}
{{- with .author -}}
  {{- $schema = merge $schema (dict "author" (dict "@type" "Person" "name" .)) -}}
{{- end -}}
<script type="application/ld+json">
{{- $schema | jsonify | safeJS -}}
</script>
{{ end }}