{{/*
@partial: Schema.org WebSite
@description: Generates JSON-LD structured data for website identity with SearchAction
@params:
  - site: Site context (optional, defaults to current site)
@example:
  {{ partial "schemaorg/website.html" . }}
@note: Add this to your base template (baseof.html or head.html)
  Enables Google site search box in SERPs
  Config example in config.yaml:
    params:
      searchUrl: "/search/"
*/}}

{{ $site := .Site }}

{{- $publisher := dict "@type" "Organization" "name" $site.Title "url" $site.BaseURL -}}
{{- with $site.Params.organization.logo -}}
  {{- $logo := dict "@type" "ImageObject" "url" (printf "%s%s" $site.BaseURL (strings.TrimPrefix "/" .)) -}}
  {{- $publisher = merge $publisher (dict "logo" $logo) -}}
{{- end -}}

{{- $schema := dict "@context" "https://schema.org" "@type" "WebSite" "name" $site.Title "url" $site.BaseURL "publisher" $publisher "inLanguage" $site.Language.Lang -}}
{{- with $site.Params.description }}{{ $schema = merge $schema (dict "description" .) }}{{ end -}}
{{- with $site.Params.searchUrl -}}
  {{- $entryPoint := dict "@type" "EntryPoint" "urlTemplate" (printf "%s%s?q={search_term_string}" $site.BaseURL (strings.TrimPrefix "/" .)) -}}
  {{- $searchAction := dict "@type" "SearchAction" "target" $entryPoint "query-input" "required name=search_term_string" -}}
  {{- $schema = merge $schema (dict "potentialAction" $searchAction) -}}
{{- end -}}
<script type="application/ld+json">
{{- $schema | jsonify | safeJS -}}
</script>