{{ $text := .text }}
{{ $position := .position | default "top" }}

{{ $tooltipPosition := "" }}
{{ if eq $position "top" }}
  {{ $tooltipPosition = "bottom-full left-1/2 transform -translate-x-1/2 mb-2" }}
{{ else if eq $position "bottom" }}
  {{ $tooltipPosition = "top-full left-1/2 transform -translate-x-1/2 mt-2" }}
{{ else if eq $position "left" }}
  {{ $tooltipPosition = "right-full top-1/2 transform -translate-y-1/2 mr-2" }}
{{ else }}
  {{ $tooltipPosition = "left-full top-1/2 transform -translate-y-1/2 ml-2" }}
{{ end }}

<div class="inline-block whitespace-normal hyphens-auto">
  <span class="whitespace-nowrap">{{ .content }}<span class="group relative inline-block align-middle pl-2">
    {{ partial "icons/information-circle" "h-4 w-4 text-gray-400 hover:text-gray-500 cursor-pointer tooltip-trigger" }}
    <div
      class="pointer-events-none absolute {{ $tooltipPosition }} z-[9999] w-72 rounded-md bg-gray-900 px-4 py-3 text-sm text-white font-normal opacity-0 shadow-xl transition-opacity duration-200 group-hover:opacity-100 tooltip-content leading-relaxed"
      data-tooltip
      role="tooltip"
      aria-hidden="true"
    >
      {{ $text }}
    </div>
  </span></span>
</div>