{{ $text := .text }}
{{ $position := .position | default "top" }}
{{ $icon := "information-circle" }}
{{ $colorIcon := .colorIcon | default "text-gray-400 hover:text-gray-500" }}
{{ $sizeIcon := .sizeIcon | default "h-4 w-4" }}
{{ $typeIcon := .typeIcon | default "solid" }}

{{ if eq $typeIcon "solid" }}
{{ $icon = "information-circle-solid" }}
{{ else }}
{{ $icon = "information-circle" }}
{{ end }}

{{ $tooltipPosition := "" }}
{{ if eq $position "top" }}
  {{ $tooltipPosition = "bottom-full left-1/2 -translate-x-1/2 mb-2" }}
{{ else if eq $position "bottom" }}
  {{ $tooltipPosition = "top-full left-1/2 -translate-x-1/2 mt-2" }}
{{ else if eq $position "left" }}
  {{ $tooltipPosition = "right-full top-1/2 transform -translate-y-1/2 mr-2" }}
{{ else }}
  {{ $tooltipPosition = "left-full top-1/2 transform -translate-y-1/2 ml-2" }}
{{ end }}

<div class="inline-block whitespace-normal hyphens-auto">
  <span class="md:group md:relative"><span class="pr-2">{{ .content }}</span><button type="button" class="inline-flex focus:outline-none align-text-bottom">
      {{ partial (printf "icons/%s" $icon) (printf "%s cursor-pointer tooltip-trigger %s" $sizeIcon $colorIcon) }}
    </button>
    <div
      class="pointer-events-none absolute left-4 right-4 md:left-1/2 md:right-auto bottom-4 md:bottom-auto {{ $tooltipPosition }} z-[9999] md:w-72 rounded-md bg-gray-900 px-4 py-3 text-sm text-white font-normal opacity-0 shadow-xl transition-opacity duration-200 group-hover:opacity-100 group-focus-within:opacity-100 tooltip-content leading-relaxed"
      data-tooltip
      role="tooltip"
    >
      {{ $text }}
    </div>
  </span>
</div>