{{/*
@section: Simple Base Hero
@description: A simple base hero section with optional heading, description.
@params:
  - theme: "light" (default) or "dark" — add class="dark" for section
  - heading: Main section heading (optional)
  - description: Description below the heading (optional)
@example:
  {{ partial "sections/hero/simple_base.html" (dict
      "heading" "We've just launched a new version!"
      "description" "Our solution helps you better understand your customers and optimize your business."
      "theme" "dark"
  ) }}
*/}}

{{ $theme := .theme | default "light" }}
{{ $isDark := eq $theme "dark" }}
{{ $darkClass := cond $isDark "dark" "" }}

{{ $heading := .heading | default "" }}
{{ $description := .description | default "" }}
{{ $padding := .padding | default "py-24 sm:py-32" }}

<div class="{{ $darkClass }}">
  <div class="section-bg-light dark:section-bg-dark">
    <div class="relative isolate">
        <div class="wrapper {{ $padding }}">
            <div class="mx-auto lg:max-w-2xl lg:mx-0">
                <h2 class="text-5xl font-semibold tracking-tight text-heading sm:text-7xl">{{ $heading }}</h2>
                <p class="mt-8 text-pretty text-lg text-muted sm:text-xl/8">{{ $description }}</p>
            </div>
        </div>
    </div>
</div>
