<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partialCached "head.html" . .Permalink }}
</head>
<body class="antialiased bg-white">
<!-- Initialize linkbuilding tracking for all pages -->
{{ .Scratch.Set "processedLinks" slice }}

{{ partialCached "header.html" . site.Language.LanguageCode }}
<main class="w-full">
  {{ block "main" . }}{{ end }}
</main>

{{ partialCached "footer.html" . .Permalink}}

<!-- Cookie Consent Banner -->
{{ partialCached "cookies-bar" (dict
  "policyText" "privacy policy"
  "policyUrl" "/privacy-policy/"
  "theme" "dark"
) }}
</body>
</html>