{{ define "main" }}

{{/* Configuration variables */}}
{{ $paginationSize := 60 }}
{{ $cardHeight := 540 }}

{{ partial "hero_default.html" . }}

{{ if eq (len .Pages) 0 }}
  <div class="wrapper text-center">
    <p class="text-xl font-semibold ">{{ i18n "no_posts_found" }}</p>
  </div>
{{ else }}

  {{/* Determine sorting method from page params */}}
  {{ $sortBy := .Params.sortBy | default "title" }}
  {{ $sortOrder := .Params.sortOrder | default "asc" }}

  {{/* For date sorting, default to desc (newest first) */}}
  {{ if eq $sortBy "date" }}
    {{ $sortOrder = .Params.sortOrder | default "desc" }}
  {{ end }}

  {{/* Apply sorting based on parameters */}}
  {{ $pages := .Pages }}
  {{ if eq $sortBy "date" }}
    {{ $pages = .Pages.ByDate }}
  {{ else if eq $sortBy "title" }}
    {{ $pages = .Pages.ByTitle }}
  {{ else if eq $sortBy "publishDate" }}
    {{ $pages = .Pages.ByPublishDate }}
  {{ else if eq $sortBy "lastmod" }}
    {{ $pages = .Pages.ByLastmod }}
  {{ else if eq $sortBy "weight" }}
    {{ $pages = .Pages.ByWeight }}
  {{ end }}

  {{ if eq $sortOrder "desc" }}
    {{ $pages = $pages.Reverse }}
  {{ end }}

  {{ $paginator := .Paginate $pages $paginationSize }}

  <div class="wrapper grid grid-cols-1 gap-x-8 gap-y-12 md:grid-cols-2 xl:grid-cols-3">
    {{ range $paginator.Pages }}
      <div>
        {{ partial "components/cards/post_card_with_image.html" (dict "page" . "cardHeight" $cardHeight) }}
      </div>
    {{ end }}
  </div>
  <!-- Pagination -->
  {{ if gt $paginator.TotalPages 1 }}`
    {{partial "components/pagination/pagination.html" $paginator }}
  {{ end }}
{{ end }}

{{ if .Content }}
  {{ partial "sections/content/centered.html" (dict 
      "content" .Content
      "bgColor" "bg-gray-50"
      "page" .
  ) }}
{{ end }}

{{ partial "cta.html" . }}

{{ end }}
