{{ define "main" }}

{{/* Schema.org structured data for generic page */}}
{{ partial "schemaorg/webpage.html" . }}

{{ partial "breadcrumbs_default.html" . }}
{{ partial "hero_default.html" . }}

<!-- Main Content -->
<div class="bg-white">
  <div class="wrapper">
    <div class="mx-auto max-w-none single-content prose">
      {{ .Content }}
    </div>
  </div>
</div>

<!-- FAQ Section if available -->
{{ if .Params.faq }}
{{ partial "sections/faq/side-by-side" (dict
"title" (i18n "faq_heading")
"description" (i18n "faq_description")
"items" .Params.faq
"page" .
) }}
{{ end }}


<!-- Author Section -->
{{ if .Params.author }}
  {{ partial "author.html" (dict "authorKey" .Params.author "page" .) }}
{{ end }}

{{ partial "cta.html" . }}

{{ partial "related_content.html" . }}

{{ end }}
