{{ $listItems := .lists }}
{{ $margin := .margin | default "mt-10" }}
{{ $columnsClass := .columnsClass | default "" }}

<dl class="{{ $margin }} max-w-full not-prose flex flex-col gap-y-8 text-lg/7 text-secondary lg:max-w-full {{ $columnsClass }}">
    {{ range $index, $item := $listItems }}
    <div class="relative pl-9">
        <dt class="inline font-bold text-heading">
            <span class="absolute left-1 top-1 size-5 text-primary">
                {{ if $item.icon }}
                    {{ partial "components/media/icon.html" (dict "icon" $item.icon "class" "h-5 w-5") }}
                {{ else if $item.svg }}
                    {{ partial "components/media/lazyimg.html" (dict 
                        "src"   $item.svg
                        "alt"   $item.title
                        "class" "h-5 w-5"
                    ) }}
                {{ else }}
                    {{ partial "components/media/icon.html" (dict "icon" "check-circle-solid" "class" "h-5 w-5") }}
                {{ end }}
            </span>
            {{ $item.title }}.
        </dt>
        <dd class="inline pl-0">{{ $item.description }}</dd>
    </div>
    {{ end }}
</dl>