{{/*
  Check if the current page should display the promo banner
  Returns true unless the current page is in the excluded pages list
*/}}

{{- $currentPath := .RelPermalink -}}
{{- $excludedPages := site.Data.promo_banner_pages.excluded_pages -}}
{{- $showBanner := true -}}

{{/* Clean the path - remove query parameters and fragments */}}
{{- $cleanPath := $currentPath -}}
{{- if strings.Contains $cleanPath "?" -}}
  {{- $cleanPath = (index (split $cleanPath "?") 0) -}}
{{- end -}}
{{- if strings.Contains $cleanPath "#" -}}
  {{- $cleanPath = (index (split $cleanPath "#") 0) -}}
{{- end -}}

{{/* Ensure path ends with / for consistent comparison, except for root */}}
{{- if and (ne $cleanPath "/") (not (strings.HasSuffix $cleanPath "/")) -}}
  {{- $cleanPath = printf "%s/" $cleanPath -}}
{{- end -}}

{{/* Check if current clean path is in the excluded pages list (with translation support) */}}
{{- range $excludedPages -}}
  {{- $excludedPath := . -}}
  {{/* Translate the excluded URL to match current language */}}
  {{- $excludedPath = partial "helpers/get-translated-url.html" (dict "url" $excludedPath) -}}
  {{/* Ensure excluded path ends with / for consistent comparison, except for root */}}
  {{- if and (ne $excludedPath "/") (not (strings.HasSuffix $excludedPath "/")) -}}
    {{- $excludedPath = printf "%s/" $excludedPath -}}
  {{- end -}}
  {{- if eq $cleanPath $excludedPath -}}
    {{- $showBanner = false -}}
  {{- end -}}
{{- end -}}

{{- return (dict "showBanner" $showBanner) -}}
