<!-- Breadcrumbs -->
{{ $breadcrumbItems := slice (dict "title" (i18n "home_title") "url" .Site.Home.RelPermalink) }}

{{ range .Ancestors.Reverse }}
  {{ if not .IsHome }}
    {{ $breadcrumbItems = $breadcrumbItems | append (dict "title" .Title "url" .RelPermalink) }}
  {{ end }}
{{ end }}

{{ if not .IsHome }}
  {{ $breadcrumbItems = $breadcrumbItems | append (dict "title" .Title "url" .RelPermalink) }}
{{ end }}

{{ partial "components/breadcrumbs/basic" (dict "items" $breadcrumbItems) }}
{{ partial "schemaorg/breadcrumbs.html" (dict "items" $breadcrumbItems) }}
