{{ define "main" }}
<div class="bg-white">
  <div class="wrapper px-4 my-16 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-heading sm:text-5xl">{{ i18n "authors_title" | default "Authors" }}</h1>
      <p class="mx-auto mt-4 max-w-2xl text-xl text-tertiary">{{ i18n "authors_browse_all" | default "This is our team of authors building content for you." }}</p>
    </div>

    <div class="mt-12 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {{ range $term, $taxonomy := .Site.Taxonomies.author }}
          {{ partial "components/cards/post_card_with_image.html" (dict "page" $taxonomy.Page "cardHeight" 540) }}
      {{ end }}
    </div>

</div>
{{ end }}
