{{/* Lazy Loading Image Shortcode */}}
{{/*
Usage:
{{< lazyimg 
  src="/images/product-image.jpg"
  alt="Product image description"
  class="rounded-xl shadow-md"
  id="product-image"
  width="640"
  height="480"
  link="https://www.liveagent.com/"
  linkTarget="_blank"
  linkRel="nofollow"
  linkTitle="Visit LiveAgent"
>}}
*/}}
{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $description := .Get "description" | default "" }}
{{ $class := .Get "class" | default "" }}
{{ $id := .Get "id" | default "" }}
{{ $width := .Get "width" | default "" }}
{{ $height := .Get "height" | default "" }}
{{ $link := .Get "link" | default "" }}
{{ $linkTarget := .Get "linkTarget" | default "" }}
{{ $linkRel := .Get "linkRel" | default "" }}
{{ $linkTitle := .Get "linkTitle" | default "" }}

{{- $imageHtml := partial "components/media/lazyimg.html" (dict 
  "src" $src 
  "alt" $alt
  "description" $description 
  "class" $class
  "id" $id
  "width" $width
  "height" $height
  "link" $link
  "linkTarget" $linkTarget
  "linkRel" $linkRel
  "linkTitle" $linkTitle
) -}}
{{/* Normalize whitespace to prevent markdown interpreting indented HTML as code blocks */}}
{{- $imageHtml | replaceRE `\s+` " " | replaceRE `>\s+<` "><" | safeHTML -}}
