{{/* Lazy Loading Image Shortcode */}}
{{/*
Usage:
{{< lazyimg 
  src="/images/product-image.jpg"
  alt="Product image description"
  class="rounded-xl shadow-md"
  id="product-image"
  width="640"
  height="480"
>}}
*/}}
{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $description := .Get "description" | default "" }}
{{ $class := .Get "class" | default "" }}
{{ $wrapperClass := .Get "wrapperClass" | default "" }}
{{ $id := .Get "id" | default "" }}
{{ $width := .Get "width" | default "" }}
{{ $height := .Get "height" | default "" }}

{{- $imageHtml := partial "components/media/lazyimg.html" (dict 
  "src" $src 
  "alt" $alt
  "description" $description 
  "class" $class
  "wrapperClass" $wrapperClass
  "id" $id
  "width" $width
  "height" $height
) -}}
{{/* Normalize whitespace to prevent markdown interpreting indented HTML as code blocks */}}
{{- $imageHtml | replaceRE `\s+` " " | replaceRE `>\s+<` "><" | safeHTML -}}
